name: ESP32 Arduino CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Arduino CLI
      uses: arduino/setup-arduino-cli@v1

    - name: Install ESP32 platform
      run: arduino-cli core install esp32:esp32

    - name: Compile example
      run: arduino-cli compile --fqbn esp32:esp32:esp32 examples/SmartHomeDemo/SmartHomeDemo.ino
